@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #222831;
  --scnd-color: #00adb5;
  --thrd-color: #eeeeee;
  --hover1-color: #292d35;
  --hover2-color: #97ddec;
  --title-font: "Krona One", sans-serif;
  --text-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--black);
  color: var(--thrd-color);
}

.titulo-destaque {
  color: var(--scnd-color);
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: var(--title-font);
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: var(--text-font);
  font-weight: 400;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--scnd-color);
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--thrd-color);
  font-family: var(--text-font);
}

.apresentacao__links__link:hover {
  cursor: pointer;
  background-color: var(--hover1-color);
}

.footer {
  padding: 23.64px;
  background-color: var(--scnd-color);
  color: var(--black);
  text-align: center;
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 400;
}

.header {
  padding: 2% 0 0 15%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 600;
  color: var(--scnd-color);
  text-decoration: none;
}

.header__menu__link:hover {
  cursor: pointer;
  color: var(--hover2-color);
}

.apresentacao__conteudo__texto a {
  text-decoration: none;
  color: var(--scnd-color);
}

.apresentacao__conteudo__texto a:hover {
  cursor: pointer;
  color: var(--hover2-color);
}
